body{
    width: 80%;
    margin: auto;
}

.text-input{
    width: 50%;
    margin: 20px auto;
}

.suggestion-list{
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    flex-wrap: wrap;
    height: 400px;

}