<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container-fluid">
        <h2 class="index-header">Trie Demo Application</h2>
        <div class="list-group">
            <a href="/trie-one" class="list-group-item trie-list-item">Trie One [Simple Trie]</a>
            <a href="/trie-two" class="list-group-item trie-list-item">Trie Two [Advance Trie]</a>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>